<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
    <title>weatherApp</title>
    <style>
      .header-container {
        display: flex;
        align-items: center; 
      }
      .header-container img {
        margin-right: 10px; 
        width: 80px;
      }
    </style>
  </head>



  <body>
    <div class="header-container">
      <img src="https://cdn-icons-png.flaticon.com/512/3209/3209665.png"/>
      <h1><b>Saturno</b></h1>
    </div>

    <form method="POST"> {% csrf_token %}
      <input type='text' placeholder='Ingrese una ciudad o ticket...' name='city'/>
      <button type ="submit">Consultar clima</button>
    </form>

        {% if entrada is not None %}
          <h2>{{entrada}}</h2>
        {% endif %}

        {% if error_message %}
          <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}

        {% if cityO is not None %}
          <h2>{{cityO}}</h2>
        {% endif %}

        {% if description is not None %}
          <h2>{{description}}</h2>
        {% endif %}

        {% if icon is not None %}
          <img src = "http://openweathermap.org/img/w/{{icon}}.png" width="100px"/>
        {% else %}
          <img src = ""/>
        {% endif %}

        {% if cityD is not None %}
          <h2>{{cityD}}</h2>
        {% endif %}
       
        {% if descriptionD is not None %}
          <h2>{{descriptionD}}</h2>
        {% endif %}

        {% if iconD is not None %}
          <img src = "http://openweathermap.org/img/w/{{iconD}}.png" width="100px"/>
        {% else %}
          <img src = ""/>
        {% endif %}


        <!--
        
        {% if descriptionO is not None %}
          <h2>{{descriptionO}}</h2>
        {% endif %}
        
       

        {% if iconO is not None %}
          <img src = "http://openweathermap.org/img/w/{{icon}}.png" width="100px"/>
        {% else %}
          <img src = ""/>
        {% endif %}

  {% if city1 is not None  %}
  <h2>{{city1}}</h2>
        {% endif %}
        
        {% if city2 is not None  %}
          <h2>{{city2}}</h2>
        {% endif %}
      
        {% if description2 is not None %}
          <h2>{{description}}</h2>
          {% endif %}
          
          {% if icon2 is not None %}
          <img src = "http://openweathermap.org/img/w/{{icon2}}.png" width="100px"/>
          {% else %}
          <img src = ""/>
          {% endif %}
        -->
          
  </body>

  <footer>

  </footer>
</html>