{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href= "{% static 'styles.css'%}" type="text/css" />
    <title>SaturnoClimaService</title>
      
  </head>


  <body>
      <!--CLASS HEADER CONTAINER-->
    <div class="header-container">
      <img src="https://cdn-icons-png.flaticon.com/512/3209/3209665.png"/>
      <h1><b>Saturno</b></h1>
    </div>
      
      <!--CLASS INPUT CONTAINER-->
    <div class="main-input-container">
      <form  method="POST" autocomplete="off"> {% csrf_token %}
        <input type='text' placeholder='Ingrese una ciudad o ticket ...' name='city'/>
        <button type ="submit">  <b>Ver clima</b></button>
      </form>
    </div>



    {% if error_message %}
    <div class="alert-danger">{{ error_message }}</div>
    {% endif %}


    <!--CONSULTA DE UNA SOLA CIUDAD-->
    {% if city_input is not None %}
    
        <div class="city_input_box">
            <h2>{{city}}</h2>
            <h2>{{description}}</h2>

            {% if icon is not None %}
            <img src = "http://openweathermap.org/img/w/{{icon}}.png" width="100px"/>
            {% else %}
              <img src = ""/>
            {% endif %}

            {% if tempC is not None %}
              <h2>Temperatura: {{tempC}} °C </h2>
            {% endif %}
            {% if humidity is not None %}
              <h2>Humedad: {{humidity}} % </h2>
            {% endif %}
            {% if pressure is not None  %}
              <h2>Presión: {{pressure}} hPa </h2>
            {% endif %}
            {% if wind_speed is not None %}
              <h2>Velocidad de viento: {{wind_speed}} m/s</h2>
            {% endif %}
        </div>
          
      {% endif %}
          
      <!--ENTRADA ES UN TICKET-->  
      {% if ticket_input is not None %}
          
     <div class="by_ticket">
      
       <div class="input_box">
              <!--CITY_ORIGIN-->
              <h2>Origen: {{cityO}}</h2>
              <h2>{{description}}</h2>

              {% if icon is not None %}
                <img src = "http://openweathermap.org/img/w/{{icon}}.png" width="100px"/>
              {% else %}
                <img src = ""/>
              {% endif %}

              {% if tempC is not None %}
                <h2>Temperatura: {{tempC}} °C </h2>
              {% endif %}
              {% if humidity is not None %}
                <h2>Humedad: {{humidity}} % </h2>
              {% endif %}
              {% if pressure is not None  %}
                <h2>Presión: {{pressure}} hPa </h2>
              {% endif %}
              {% if wind_speed is not None %}
                <h2>Velocidad de viento: {{wind_speed}} m/s</h2>
              {% endif %}
      </div>
      
      <div class="input_box"> 
              <!--CITY_DESTINATION-->
              <h2>Destino: {{cityD}}</h2>
              <h2>{{descriptionD}}</h2>

              {% if iconD is not None %}
                <img src = "http://openweathermap.org/img/w/{{iconD}}.png" width="100px"/>
              {% else %}
                <img src = ""/>
              {% endif %}

              {% if tempCD is not None %}
                <h2>Temperatura: {{tempCD}} °C </h2>
              {% endif %}
              {% if humidityD is not None %}
                <h2>Humedad: {{humidityD}} % </h2>
              {% endif %}
              {% if pressureD is not None  %}
                <h2>Presión: {{pressureD}} hPa </h2>
              {% endif %}
              {% if wind_speedD is not None %}
                <h2>Velocidad de clima: {{wind_speedD}} m/s</h2>
              {% endif %}
              
            </div>

            <div class="frase">
              <h2>{{ticket_input}}</h2>      
            </div>

        </div> 
      {% endif %}
              
      

          
    </body>

  <footer>
      <div class = "footer_app_name">
    <h1><b>⛈Saturno⛈</b></h1>
      </div>
  </footer>

</html>